body {
  width: 50%;
  height: 50%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

img {
  width: 90px;
  height: 70px;
}
